<%- include("partials/header"); %> 

<h1>Home</h1>

<p><%= homeContent %></p>

<% posts.forEach((item) => { %>
    <h2><a href="/posts/<%= item.postTitleLower %>"><%= item.postTitle %></a></h2>
    <p><%= item.postPreview %></p>
    <a class="readMore text-right" href="/posts/<%= item.postTitleLower %>">Read More</a>
<% }) %>

<%- include("partials/footer"); %> 